.edudata.sub_gnb {
    li.on {
        a {
            color: #cbb1fb;
        }
    }
}

.edudata_content{padding: 70px 0;
    .button_wrap {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 10px;
        button {
            background-color: #EBEBEB;
            padding: 13px 0;
            text-align: center;
            width: 187px;
            border-radius: 10px;
        }
        button.save{
            background-color:#357AF2 ;
            color: #fff;
        }
    }
}

.edudata_top{
    position: relative;
    .search_box { 
        padding-left: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        width: 550px;
        input { 
            background-color: #F5F5F5;
            width: 100%;
            border-bottom: none;
            border-radius: 25px;
            padding-left: 20px;
        }
        input::placeholder{     color: #9c9c9c;}
        span {
            right: 20px;
        }
    }
    .count {
        font-weight: 600;
        font-size: 20px;
        span {
            color: #fa9726;
        }
    }

}

.complete_popup {
    padding: 40px 100px;
    border-radius: 37px;
    .close-btn {
        top: 30px;
        right: 30px;
    }
    .complete_inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        i {
            font-size: 80px;
            color: #2c5db4;
        }
        strong {
            font-size: 30px;
            margin: 20px 0;
        }
        p {
            line-height: 30px;
        }
    }
    .btn {
        text-align: center;
        margin: 35px 0;
        a {
            text-align: center;
            background-color: #2d2d2d;
            color: #fff;
            padding: 13px;
            font-weight: 500;
            width: 100%;
            display: inline-block;
            cursor: pointer;
        }
    }
}

