.card_con {
    padding: 100px 0;
    .title {
        margin-bottom: 60px;
        text-align: center;
        strong {
            font-size: 40px;
            line-height: 60px;
        }
    }
    button {
        padding: 7px 15px;
        width: fit-content;
        margin-top: 10px !important;
        border-radius: 30px;
        color: #fff;
        font-weight: 500;
        background-color: #2c5db4;
    }
}

/*con1*/
.card_con.con1 {
    padding-bottom: 150px;
    .title {
        strong {
            margin-bottom: 15px;
            display: block;
        }
        p {
            font-size: 20px;
            line-height: 35px;
        }
    }
    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        > div {
            display: flex;
            background-color: whitesmoke;
            padding: 30px;
            border-radius: 40px;
            align-items: center;
            position: relative;
            .img {
                width: 100px;
                padding: 10px;
                img {
                    width: 100%;
                }
            }
            .txt {
                padding: 10px;
                strong {
                    font-size: 20px;
                    line-height: 30px;
                }
                p {
                    font-size: 18px;
                    line-height: 28px;
                }
                span {
                    font-size: 14px;
                }
            }
            button {
                position: absolute;
                bottom: -57px;
                left: 50%;
                width: 142px;
                margin-left: -71px;
            }
        }
    }
}

/*con2*/
.card_con.con2 {
    background-color: whitesmoke;
    .title {
        em {
            font-size: 30px;
            display: block;
        }
        span {
            font-size: 40px;
            line-height: 80px;
        }
    }
    .content {
        display: flex;
        .left {
            padding: 0 20px;
            text-align: center;
            span {
                font-size: 20px;
                text-align: left;
                display: block;
            }
            strong {
                font-size: 25px;
                display: block;
                line-height: 40px;
            }
        }
        .right {
            flex-grow: 1;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 30px;
            > div {
                width: 230px;
                @media (max-width: 1200px) {
                    width: 100%;
                }
                height: 130px;
                box-shadow: 3px 3px 8px rgb(0 0 0 / 16%);
                background-color: #fff;
                border-radius: 25px;
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 13px;
                text-align: center;
                position: relative;
                span.step {
                    font-size: 12px;
                    color: #a8e8dd;
                    line-height: 10px;
                }
                span.num {
                    font-size: 18px;
                    color: #a2c6f6;
                }
                strong {
                    line-height: 25px;
                    margin-top: 5px;
                }
                p {
                    font-size: 14px;
                }
            }
            > div::after {
                position: absolute;
                right: -53px;
                top: 52px;
                width: 0;
                height: 0;
                border-bottom: 14px solid transparent;
                border-top: 14px solid transparent;
                border-left: 17px solid #fff;
                border-right: 17px solid transparent;
                content: "";
            }
            > div:nth-of-type(4)::after {
                border-left: none;
            }
        }
    }
}

/*con3*/
.card_con.con3 {
    .content {
        .q {
            background-color: #ecedf7;
            border-radius: 15px;
            padding: 20px;
            margin-bottom: 10px;
            position: relative;
            cursor: pointer;
            transition: all 0.3s ease;
            > p {
                font-size: 18px;
                font-weight: bold;
            }
            i {
                position: absolute;
                right: 24px;
                top: 21px;
                font-size: 20px;
            }
            .a {
                padding-top: 15px;
                display: none;
                p {
                    padding: 13px 0 0 10px;
                    border-top: 1px solid #aaa;
                }
            }
        }
        .q:hover {
            background-color: #c7cadf;
        }
    }
}

.refund_con {
    padding: 100px 0;
    .title {
        margin-bottom: 60px;
        text-align: center;
        strong {
            font-size: 40px;
            line-height: 60px;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            margin-top: 13px;
        }
    }
}

.refund_con.con1 {
    .content {
        display: grid;
        gap: 30px;
        grid-template-areas:
            "a c"
            "b c";
        > div:nth-of-type(1) {
            grid-area: a;
        }
        > div:nth-of-type(2) {
            grid-area: b;
            .img {
                padding: 20px;
            }
        }
        > div:nth-of-type(3) {
            grid-area: c;
            align-items: flex-start;
            .img {
                width: 90px;
            }
        }
        > div {
            display: flex;
            background-color: whitesmoke;
            padding: 25px;
            border-radius: 40px;
            align-items: center;
            .img {
                width: 100px;
                padding: 10px;
                flex-shrink: 0;
                img {
                    width: 100%;
                }
            }
            .txt {
                margin-left: 10px;
                strong {
                    font-size: 20px;
                }
                p {
                    margin-top: 13px;
                    line-height: 26px;
                }
            }
        }
    }
}

.refund_con.con2 {
    background-color: whitesmoke;
    .content {
        flex-grow: 1;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
        > div {
            width: 100%;
            height: 170px;
            box-shadow: 3px 3px 8px rgb(0 0 0 / 16%);
            background-color: #fff;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 13px;
            text-align: center;
            position: relative;
            span.step {
                font-size: 12px;
                color: #e8bba8;
                line-height: 10px;
            }
            span.num {
                font-size: 18px;
                color: #de8997;
            }
            strong {
                line-height: 25px;
                margin-top: 5px;
                font-size: 20px;
            }
            p {
                line-height: 24px;
                margin-top: 9px;
            }
            em {
                font-size: 14px;
                color: #777;
            }
        }
        > div::after {
            position: absolute;
            right: -53px;
            top: 72px;
            width: 0;
            height: 0;
            border-bottom: 14px solid transparent;
            border-top: 14px solid transparent;
            border-left: 17px solid #fff;
            border-right: 17px solid transparent;
            content: "";
        }
        > div:nth-of-type(3)::after {
            border-left: none;
        }
    }
}

.refund_con.con3 {
    .content {
        table {
            border-top: 1px solid #222;
            width: 100%;
            margin-bottom: 10px;
            tr {
                border-bottom: 1px solid #ccc;
            }
            th {
                padding: 15px 0 20px 0;
                font-weight: bold;
                background-color: whitesmoke;
                border-right: 1px solid #ccc;
            }
            td {
                padding: 15px 30px 20px 30px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                > div {
                    line-height: 30px;
                }
            }
        }
    }
}
