.card_con {
  padding: 100px 0;
}
.card_con .title {
  margin-bottom: 60px;
  text-align: center;
}
.card_con .title strong {
  font-size: 40px;
  line-height: 60px;
}
.card_con button {
  padding: 7px 15px;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px !important;
  border-radius: 30px;
  color: #fff;
  font-weight: 500;
  background-color: #2c5db4;
}

/*con1*/
.card_con.con1 {
  padding-bottom: 150px;
}
.card_con.con1 .title strong {
  margin-bottom: 15px;
  display: block;
}
.card_con.con1 .title p {
  font-size: 20px;
  line-height: 35px;
}
.card_con.con1 .content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
.card_con.con1 .content > div {
  display: flex;
  background-color: whitesmoke;
  padding: 30px;
  border-radius: 40px;
  align-items: center;
  position: relative;
}
.card_con.con1 .content > div .img {
  width: 100px;
  padding: 10px;
}
.card_con.con1 .content > div .img img {
  width: 100%;
}
.card_con.con1 .content > div .txt {
  padding: 10px;
}
.card_con.con1 .content > div .txt strong {
  font-size: 20px;
  line-height: 30px;
}
.card_con.con1 .content > div .txt p {
  font-size: 18px;
  line-height: 28px;
}
.card_con.con1 .content > div .txt span {
  font-size: 14px;
}
.card_con.con1 .content > div button {
  position: absolute;
  bottom: -57px;
  left: 50%;
  width: 142px;
  margin-left: -71px;
}

/*con2*/
.card_con.con2 {
  background-color: whitesmoke;
}
.card_con.con2 .title em {
  font-size: 30px;
  display: block;
}
.card_con.con2 .title span {
  font-size: 40px;
  line-height: 80px;
}
.card_con.con2 .content {
  display: flex;
}
.card_con.con2 .content .left {
  padding: 0 20px;
  text-align: center;
}
.card_con.con2 .content .left span {
  font-size: 20px;
  text-align: left;
  display: block;
}
.card_con.con2 .content .left strong {
  font-size: 25px;
  display: block;
  line-height: 40px;
}
.card_con.con2 .content .right {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
}
.card_con.con2 .content .right > div {
  width: 230px;
  height: 130px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  text-align: center;
  position: relative;
}
@media (max-width: 1200px) {
  .card_con.con2 .content .right > div {
    width: 100%;
  }
}
.card_con.con2 .content .right > div span.step {
  font-size: 12px;
  color: #a8e8dd;
  line-height: 10px;
}
.card_con.con2 .content .right > div span.num {
  font-size: 18px;
  color: #a2c6f6;
}
.card_con.con2 .content .right > div strong {
  line-height: 25px;
  margin-top: 5px;
}
.card_con.con2 .content .right > div p {
  font-size: 14px;
}
.card_con.con2 .content .right > div::after {
  position: absolute;
  right: -53px;
  top: 52px;
  width: 0;
  height: 0;
  border-bottom: 14px solid transparent;
  border-top: 14px solid transparent;
  border-left: 17px solid #fff;
  border-right: 17px solid transparent;
  content: "";
}
.card_con.con2 .content .right > div:nth-of-type(4)::after {
  border-left: none;
}

/*con3*/
.card_con.con3 .content .q {
  background-color: #ecedf7;
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
}
.card_con.con3 .content .q > p {
  font-size: 18px;
  font-weight: bold;
}
.card_con.con3 .content .q i {
  position: absolute;
  right: 24px;
  top: 21px;
  font-size: 20px;
}
.card_con.con3 .content .q .a {
  padding-top: 15px;
  display: none;
}
.card_con.con3 .content .q .a p {
  padding: 13px 0 0 10px;
  border-top: 1px solid #aaa;
}
.card_con.con3 .content .q:hover {
  background-color: #c7cadf;
}

.refund_con {
  padding: 100px 0;
}
.refund_con .title {
  margin-bottom: 60px;
  text-align: center;
}
.refund_con .title strong {
  font-size: 40px;
  line-height: 60px;
}
.refund_con .title p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 13px;
}

.refund_con.con1 .content {
  display: grid;
  gap: 30px;
  grid-template-areas: "a c" "b c";
}
.refund_con.con1 .content > div:nth-of-type(1) {
  grid-area: a;
}
.refund_con.con1 .content > div:nth-of-type(2) {
  grid-area: b;
}
.refund_con.con1 .content > div:nth-of-type(2) .img {
  padding: 20px;
}
.refund_con.con1 .content > div:nth-of-type(3) {
  grid-area: c;
  align-items: flex-start;
}
.refund_con.con1 .content > div:nth-of-type(3) .img {
  width: 90px;
}
.refund_con.con1 .content > div {
  display: flex;
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 40px;
  align-items: center;
}
.refund_con.con1 .content > div .img {
  width: 100px;
  padding: 10px;
  flex-shrink: 0;
}
.refund_con.con1 .content > div .img img {
  width: 100%;
}
.refund_con.con1 .content > div .txt {
  margin-left: 10px;
}
.refund_con.con1 .content > div .txt strong {
  font-size: 20px;
}
.refund_con.con1 .content > div .txt p {
  margin-top: 13px;
  line-height: 26px;
}

.refund_con.con2 {
  background-color: whitesmoke;
}
.refund_con.con2 .content {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}
.refund_con.con2 .content > div {
  width: 100%;
  height: 170px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 13px;
  text-align: center;
  position: relative;
}
.refund_con.con2 .content > div span.step {
  font-size: 12px;
  color: #e8bba8;
  line-height: 10px;
}
.refund_con.con2 .content > div span.num {
  font-size: 18px;
  color: #de8997;
}
.refund_con.con2 .content > div strong {
  line-height: 25px;
  margin-top: 5px;
  font-size: 20px;
}
.refund_con.con2 .content > div p {
  line-height: 24px;
  margin-top: 9px;
}
.refund_con.con2 .content > div em {
  font-size: 14px;
  color: #777;
}
.refund_con.con2 .content > div::after {
  position: absolute;
  right: -53px;
  top: 72px;
  width: 0;
  height: 0;
  border-bottom: 14px solid transparent;
  border-top: 14px solid transparent;
  border-left: 17px solid #fff;
  border-right: 17px solid transparent;
  content: "";
}
.refund_con.con2 .content > div:nth-of-type(3)::after {
  border-left: none;
}

.refund_con.con3 .content table {
  border-top: 1px solid #222;
  width: 100%;
  margin-bottom: 10px;
}
.refund_con.con3 .content table tr {
  border-bottom: 1px solid #ccc;
}
.refund_con.con3 .content table th {
  padding: 15px 0 20px 0;
  font-weight: bold;
  background-color: whitesmoke;
  border-right: 1px solid #ccc;
}
.refund_con.con3 .content table td {
  padding: 15px 30px 20px 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.refund_con.con3 .content table td > div {
  line-height: 30px;
}/*# sourceMappingURL=etc.css.map */