#wrap {
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}

header .top_header {
  background-color: whitesmoke;
  font-size: 14px;
}
header .top_header #wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .top_header #wrap ul {
  display: flex;
  font-weight: 400;
}
header .top_header #wrap ul li {
  width: 120px;
  text-align: center;
  padding: 10px 0;
}
header .top_header #wrap ul li.on {
  border-bottom: 3px solid #46bac2;
}
header .top_header #wrap ul li.on a {
  color: #46bac2;
}
header .top_header #wrap .btn a {
  display: inline-block;
  margin-left: 15px;
}
header .top_header #wrap .logo {
  width: 148px;
}
header .top_header #wrap .logo img {
  width: 100%;
}
header .middle_header #wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
header .middle_header #wrap .left {
  display: flex;
  align-items: center;
}
header .middle_header #wrap .left .logo {
  width: 250px;
  margin-right: 30px;
}
header .middle_header #wrap .left .logo img {
  width: 100%;
}
header .middle_header #wrap .left h1 {
  font-size: 30px;
  font-weight: bold;
  line-height: 60px;
}
header .middle_header #wrap .right {
  font-weight: 400;
}
header .middle_header #wrap .right a {
  padding: 0 15px;
}
header .middle_header #wrap .right .point {
  color: #fff;
  background-color: #3252a3;
  padding: 5px 14px;
  border-radius: 20px;
}
header .middle_header #wrap .right i {
  margin-right: 9px;
}
header .gnb > ul {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
}
header .gnb > ul li {
  position: relative;
  padding: 15px;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
header .gnb > ul li a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
}
header .gnb > ul li ul.sub_menu {
  position: absolute;
  top: 52px;
  left: 0;
  background-color: rgba(45, 45, 45, 0.9);
  padding-top: 10px;
  height: 200px;
  display: none;
  z-index: 10;
}
header .gnb > ul li ul.sub_menu li {
  padding: 8px;
}
header .gnb > ul li ul.sub_menu li a {
  font-size: 16px;
}
header .gnb > ul li ul.sub_menu li:hover a {
  color: #1c9dff;
  text-decoration: underline;
}
header .gnb > ul > li:hover {
  background-color: #2c5db4;
}

.main_banner_wrap {
  position: relative;
  height: 500px;
}
.main_banner_wrap .main_banner {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: -53px;
  left: 0;
  height: 500px;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.main_banner_wrap .main_banner #wrap {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}
.main_banner_wrap .main_banner #wrap span {
  font-size: 28px;
  font-weight: 400;
  line-height: 45px;
}
.main_banner_wrap .main_banner #wrap strong {
  font-size: 50px;
  line-height: 70px;
}
.main_banner_wrap .main_banner #wrap strong.fs40 {
  font-size: 40px;
  line-height: 55px;
}
.main_banner_wrap .main_banner #wrap p {
  font-size: 20px;
  line-height: 30px;
  margin-top: 13px;
}
.main_banner_wrap .main_banner.active {
  visibility: visible;
  opacity: 1;
}/*# sourceMappingURL=common.css.map */