.top_section .title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px 0;
}
.top_section .title span {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
}
.top_section .title span.main_course_title {
  position: relative;
  padding-left: 15px;
  font-size: 25px;
  line-height: 25px;
}
.top_section .title span.main_course_title::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 5px;
  height: 100%;
  background-color: #222;
}
.top_section .title .search_box input {
  background-color: #e8e8e8;
  width: 100%;
  border-bottom: none;
  border-radius: 25px;
  padding: 15px 30px 15px 20px;
}
.top_section .title .search_box input::-moz-placeholder {
  color: #999;
  font-weight: bold;
  font-size: 18px;
}
.top_section .title .search_box input::placeholder {
  color: #999;
  font-weight: bold;
  font-size: 18px;
}
.top_section .title .search_box span {
  padding-left: 40px;
  bottom: 11px;
  right: 16px;
}
.top_section .categorybtn_box {
  display: flex;
  margin: 60px 0;
  justify-content: flex-end;
  color: #777;
}
.top_section .categorybtn_box ul {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.top_section .categorybtn_box ul li {
  border: 1px solid;
  padding: 5px 0;
  margin: 10px 10px;
  width: 122px;
  border-radius: 34px;
  text-align: center;
}
.top_section .categorybtn_box ul li.on {
  background-color: #222;
}
.top_section .categorybtn_box ul li.on a {
  color: #fff;
}

div[class*=lectureswiper] {
  margin-bottom: 60px;
  position: relative;
}
div[class*=lectureswiper] h2 {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 35px;
}
div[class*=lectureswiper] .swiper-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
div[class*=lectureswiper] .swiper-button div[class*=swiper-button-prev] {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/educourse/circleprev.svg) no-repeat;
  cursor: pointer;
}
div[class*=lectureswiper] .swiper-button div[class*=swiper-button-prev]::after {
  font-size: 0;
}
div[class*=lectureswiper] .swiper-button div[class*=swiper-button-next] {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: url(../img/educourse/circlenext.svg) no-repeat;
  font-size: 0 !important;
  cursor: pointer;
}
div[class*=lectureswiper] .swiper-button div[class*=swiper-button-next]::after {
  font-size: 0;
}
div[class*=lectureswiper] .course_img {
  width: 413px;
  height: 232px;
  border-radius: 20px;
}
div[class*=lectureswiper] .course_title {
  margin: 17px 0 10px 0;
  line-height: 30px;
  font-size: 20px;
}
div[class*=lectureswiper] .course_tag {
  margin-top: 30px;
}
div[class*=lectureswiper] .course_tag span {
  background-color: #e8e8e8;
  padding: 3px 12px;
  border-radius: 6px;
}

.course {
  margin-bottom: 80px;
  position: relative;
}
.course ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}
.course ul li {
  margin-bottom: 25px;
}
.course ul li .course_img {
  width: 305px;
  height: 180px;
  border-radius: 20px;
  display: flex;
  position: relative;
  overflow: hidden;
}
.course ul li .course_img span {
  position: absolute;
  left: 20px;
  bottom: 8px;
  color: #fff;
  z-index: 10;
}
.course ul li .course_img button {
  position: absolute;
  bottom: 11px;
  right: 23px;
  background-color: transparent;
  width: 20px;
  height: 20px;
  z-index: 10;
}
.course ul li .course_img button img {
  width: 100%;
}
.course ul li .course_img::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35px;
  background-color: #2d2d2d;
  content: "";
}
.course ul li .course_title {
  margin: 17px 0 10px 0;
  line-height: 25px;
}
.course ul li .course_tag span {
  background-color: #e8e8e8;
  padding: 3px 12px;
  border-radius: 6px;
}

.more_btn {
  text-align: center;
  margin-bottom: 100px;
  margin-top: -20px;
}
.more_btn button {
  background-color: #4185e1;
  color: #fff;
  padding: 12px 66px;
  border-radius: 50px;
}

.course.pt100::before {
  position: absolute;
  height: 10px;
  width: 1000%;
  top: 0;
  left: -500%;
  background-color: #f5f5f5;
  content: "";
}/*# sourceMappingURL=educourse.css.map */