

.main_con {
    padding: 60px 0 90px 0;
    @media(max-width:1000px){
            padding: 30px 0 60px 0;
    }
    @media(max-width:500px){
        padding: 20px 0 40px 0;
    }
    .title {
        padding: 20px 0;
        @media(max-width:1000px){
            padding: 10px 0;
        }
        @media(max-width:500px){
            padding: 0;
        }
        text-align: center;
        span {
            font-size: 20px;
            color: #777;
            display: block;
            line-height: 35px;
            @media(max-width:600px){
                display: none;
            }
        }
        strong {
            font-size: 40px;
            line-height: 70px;
            display: block;
            @media(max-width:1000px){
                font-size: 24px;
                line-height: 40px;
            }
        }
    }
}

.main_con1 {
    border-bottom: 1px dashed #777;
    @media(max-width:1000px){
        padding-top: 0px;
    }
    @media(max-width:500px){
        margin-top: -20px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        @media(max-width:1000px){
            flex-direction: column;
            margin-top: 10px;
        }
        li {
            width: 24%;
            display: flex;
            background-color: #2d2d2d;
            color: #fff;
            padding: 30px 25px;
            border-radius: 56px;
            align-items: center;
            justify-content: space-around;
            text-align: center;
            cursor: pointer;
            transition: all 0.3s ease;
            @media(max-width:1000px){
                width: 100%;
                padding: 20px 25px;
                margin-bottom: 10px;
            }
            .img {
                width: 35px;
                img {
                    width: 100%;
                }
            }
            .txt {
                strong {
                    font-size: 20px;
                    @media(max-width:1000px){
                        font-size: 18px;
                    }
                }
                span {
                    display: block;
                    padding-top: 10px;
                    letter-spacing: -1px;
                }
            }
        }
        li:hover {
            background-color: #4185e1;
        }
    }
}

.main_con2 {
    .content {
        .side {
            > span {
                display: block;
                width: 70px;
                height: 24px;
                background-color: whitesmoke;
                text-align: center;
                margin: 25px 0 15px 0;
            }
            p {
                font-size: 20px;
                line-height: 30px;
                span {
                    font-size: 30px;
                    font-weight: 600;
                }
            }
            .img{margin-top: 20px;
                cursor: pointer;
            span{display: block;
                background-color: #f54343;
                color: #fff;
                width: 256px;
                padding: 3px 0;
                text-align: center;
                border-radius: 36px;}
            }
        }
        .lecture_box {
            ul {
                li::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 15px;
                    width: 27px;
                    height: 37px;
                    font-size: 18px;
                    font-weight: 600;
                    color: #fff;
                    text-align: center;
                    padding-top: 3px;
                }
                li:nth-of-type(1)::after {
                    content: "1";
                    background-image: url(../img/main/con2/best.png);
                }
                li:nth-of-type(2)::after {
                    content: "2";
                    background-image: url(../img/main/con2/best.png);
                }
                li:nth-of-type(3)::after {
                    content: "3";
                    background-image: url(../img/main/con2/best.png);
                }
            }
        }
    }
}


.main_con2,
.main_con4 {
    .content {
        .lecture_box {
            .more {
                text-align: right;
                padding: 10px 0;
                @media(max-width:1000px){
                    padding: 0;
                }
                a {
                    padding: 10px 0;
                    display: block;
                }
            }
            ul {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                @media(max-width:1000px){
                    grid-template-columns: 1fr 1fr;
                }
                @media(max-width:400px){
                    grid-template-columns: 1fr;
                }
                gap: 20px;
                li {
                    position: relative;
                    cursor: pointer;
                    .img {
                        width: 305px;
                        height: 180px;
                        background-color: #e3e3e3;
                        border-radius: 20px;
                        overflow: hidden;
                        @media(max-width:1300px){
                            width: 100%;
                        }
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .ttl {
                        @media(max-width:1000px){
                            text-align: center;
                        }
                        p {
                            font-weight: 400;
                            line-height: 24px;
                            margin-top: 10px;
                            @media(max-width:1000px){
                                font-size: 16px;
                            }   
                        }
                    }
                }
                @media(max-width:400px){
                    li:nth-of-type(3),li:nth-of-type(4){display: none;}   
                }
            }
        }
    }
}

.main_con3 {
    background-color: #f5f5f5;
    .keyword_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
        @media(max-width:1000px){
            margin-top: 10px;
        }
        li {
            width: 18%;
            margin: 10px 1%;
            text-align: center;
            background-color: #fff;
            border: 1px solid #777;
            border-radius: 50px;
            @media(max-width:1000px){
                width: 31%;
                margin: 6px 1%;
            }
            a {
                font-size: 20px;
                padding: 10px 0;
                display: block;
                @media(max-width:1000px){
                    font-size: 14px;
                    padding: 7px 2px;
                }
            }
        }
        li:hover {
            background-color: #2d2d2d;
            a {
                color: #fff;
            }
        }
    }
}

.main_con4 {
    .content {
        .side {
            strong {
                display: block;
                margin-top: 62px;
                font-size: 30px;
                line-height: 45px;
                letter-spacing: 0.5px;
            }
            p {
                font-size: 20px;
                margin: 10px 0;
                line-height: 30px;
                position: relative;
                padding-left: 10px;
                span {
                    font-weight: 500;
                }
            }
            p::before {
                content: "";
                position: absolute;
                left: 0;
                top: 15px;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #333;
            }
        }
    }
}

.main_con5 {
    background-color: #f5f5f5;
    .content {
        display: flex;
        @media(max-width:1000px){
            flex-direction: column;
        }
        .side {
            width: 428px;
            strong {
                font-size: 40px;
                line-height: 60px;
                @media(max-width:1000px){
                    font-size: 24px;
                    line-height: 26px;
                }
            }
            p {
                font-weight: 400;
                padding: 10px 0;
                max-width: 228px;
                line-height: 25px;
                @media(max-width:1000px){
                    font-size: 14px;
                }
            }
            @media(max-width:1000px){
             img{display: none;}       
            }
        }
        ul {
            display: flex;
            @media(max-width:1000px){
                    flex-wrap: wrap;
            }
            li {
                width: 23.5%;
                @media(max-width:770px){
                    width: 48.5%;
                    margin-top: 10px;
                }
                @media(max-width:400px){
                    width: 100%;
                }
                margin-left: 1.5%;
                background-color: #fff;
                padding: 20px;
                cursor: pointer;
                span {
                    position: relative;
                    font-weight: 400;
                    padding-top: 25px;
                    display: inline-block;
                }
                span::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    background-image: url(../img/main/con5/quotes.png);
                    background-size: contain;
                    width: 20px;
                    height: 15px;
                }
                .star {
                    margin: 10px 0;
                    i {
                        color: #797979;
                        margin-right: 1px;
                    }
                }
                .lecturename {
                    position: relative;
                    padding-left: 32px;
                    font-size: 14px;
                    padding-bottom: 20px;
                    border-bottom: 1px solid #ddd;
                }
                .lecturename::before {
                    position: absolute;
                    content: "";
                    left: 0;
                    top: 5px;
                    background-image: url(../img/main/con5/icon.png);
                    background-size: contain;
                    width: 21px;
                    height: 20px;
                }
                p {
                    font-size: 14px;
                    margin-top: 10px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    word-wrap: break-word;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            @media(max-width:400px){
                li:nth-of-type(3),li:nth-of-type(4){display: none;}       
            }
        }
    }
}

.main_con6 {
    .content1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width:800px){
            grid-template-columns: 1fr;
        }
        gap: 40px;
        div {
            position: relative;
            strong {
                font-size: 20px;
                display: inline-block;
                padding: 10px 0;
            }
            .more {
                position: absolute;
                top: 8px;
                right: 0;
                font-size: 14px;
                display: flex;
                align-items: center;
                i {
                    margin-left: 3px;
                    margin-top: 1px;
                }
            }
            ul {
                border-top: 1px solid #707070;
                li {
                    border-bottom: 1px solid #707070;
                    padding: 10px 0;
                    cursor: pointer;
                }
            }
        }
        div.qna {
            ul {
                li {
                    padding-left: 30px;
                    position: relative;
                }
                li:after {
                    position: absolute;
                    content: "Q";
                    top: 10px;
                    left: 7px;
                    font-size: 15px;
                    font-weight: bold;
                    font-family: initial;
                    color: #0e52ae;
                }
            }
        }
        div.notice {
            ul {
                li {
                    padding-left: 10px;
                    position: relative;
                    @media(max-width:1200px){
                        padding-right: 92px;
                    }
                    span {
                        position: absolute;
                        right: 0;
                        top: 8px;
                    }
                }
            }
        }
    }
    .content2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media(max-width:1000px){
            grid-template-columns: 1fr;
        }
        gap: 40px;
        margin-top: 40px;
        > .left {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @media(max-width:500px){
                grid-template-columns: 1fr;
            }
            gap: 20px;
            > div {
                color: #fff;
                border-radius: 30px;
                padding: 20px 10px;
                text-align: center;
                @media(max-width:1000px){
                    padding: 10px;   
                }
                span {
                    font-size: 20px;
                    font-weight: 400;
                    margin: 10px 0;
                    display: inline-block;
                }
                p {
                    font-size: 15px;
                    margin: 10px 0 15px 0;
                }
                @media(max-width:1000px){
                    .img{padding: 0 38%;
                    img{width: 100%;}}   
                }
            }
            .chatbot {
                background-color: #25bec3;
            }
            .remote {
                background-color: #2a77de;
            }
        }
        > .right {
            display: flex;
            justify-content: space-around;
            background-color: #ddedf8;
            padding: 40px 20px 0 30px;
            border-radius: 30px;
            @media(max-width:500px){
                padding: 10px;
                flex-direction: column;       
            }
            span {
                font-size: 20px;
                font-weight: 400;
                margin-left: 14px;
                @media(max-width:1000px){
                    font-size: 20px;
                    font-weight: 600;
                    margin-left: 0;    
                }
            }
            .point {
                font-size: 14px;
                color: #fff;
                background-color: #173a6a;
                padding: 4px 10px;
                text-align: center;
                border-radius: 14px;
                margin: 11px 0;
                font-weight: 400;
                display: inline-block;
                @media(max-width:500px){
                    margin: 10px 0;
                    margin-left: 15px; 
                }
            }
            p {
                font-size: 15px;
                font-weight: 400;
                margin: 3px 0;
                @media(max-width:500px){
                    font-size: 13px;
                    line-height: 14px;
                }
            }
            strong {
                font-size: 40px;
                line-height: 60px;
                @media(max-width:500px){
                    font-size: 30px;
                    line-height: 50px;   
                }
            }
            @media(max-width:500px){
            .img{padding: 10px;
            img{width: 100%;}}       
            }
            > .right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
}


