.payment_top_section {
    #wrap {
        display: flex;
        justify-content: space-between;
        padding: 50px 20px;
        position: relative;
        left: 15%;
        margin: 0;
        h1 {
            font-size: 30px;
            font-weight: bold;
        }
        ol {
            display: flex;
            color: #999;
            li {
                margin-right: 10px;
                i {
                    margin-left: 10px;
                    color: #eee;
                }
                span.fcred {
                    font-weight: 600;
                }
            }
        }
    }
    border-bottom: 2px solid;
}

.payment_left {
    padding-right: 270px;
    padding-top: 30px;
    padding-bottom: 100px;
    position: relative;
    .top {
        width: 100%;
        background-color: whitesmoke;
        text-align: center;
        padding: 10px 0;
        font-weight: bold;
    }
    .con {
        margin-top: 30px;
        font-size: 14px;
        .title {
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid;
            padding: 15px 0px;
        }
        .subtitle {
            font-weight: bold;
            margin: 10px 0;
        }
        .txt{margin: 10px 0;
            p{
                i{
                    font-weight: 900;
                    margin-right: 10px;
                }
            }
        }
        table {
            width: 100%;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            tr {
                border-bottom: 1px solid #ccc;
                th {
                    background-color: whitesmoke;
                    padding: 10px 0;
                    border-right: 1px solid #ccc;
                    font-size: 15px;
                }
                td {
                    padding: 10px;
                    border-right: 1px solid #ccc;
                    font-size: 15px;
                }
                td:last-of-type {
                    border-right: none;
                }
            }
        }
        .content {
            padding: 10px 0;
            border-bottom: 1px solid #ccc;
            input[type="radio"] {
                margin-bottom: 3px;
                margin-left: 20px;
            }
            label {
                margin-left: 10px;
            }
        }
    }
    /*주문정보*/
    .con.order_info {
        table {
            border-top: none;
            border-bottom: none;
            tr {
                th {
                    border-right: none;
                }
                td {
                    border-right: none;
                }
            }
        }
        td {
            button {
                font-size: 12px;
                color: #fff;
                background-color: #d2d2d2;
                padding: 2px;
                line-height: 16px;
                border-radius: 5px;
                margin-bottom: 3px;
                margin-left: 3px;
            }
            select {
                width: 300px;
                font-size: 13px;
                margin: 10px 0;
            }
            span {
                display: block;
                font-size: 13px;
            }
        }
    }
    /*결제정보*/
    .con.pay_info {
        table {
            td {
                input {
                    width: 110px;
                    background-color: #f5f5f5;
                    padding: 1px 5px;
                    border: 1px solid #ccc;
                    margin-right: 6px;
                }
                button {
                    font-size: 14px;
                    color: #fff;
                    padding: 3px 9px;
                    margin: 0 10px;
                }
                button.red {
                    background-color: #f14343;
                }
                button.grey {
                    background-color: #767676;
                }
                span {
                    position: absolute;
                }
                em {
                    display: block;
                    font-size: 13px;
                }
            }
        }
    }
    /*안내사항*/
    .con.notice {
        .grid_box {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 43px;
            > div > div {
                margin: 10px 0;
                line-height: 26px;
                p {
                    padding-left: 20px;
                    position: relative;
                }
                p::before {
                    position: absolute;
                    width: 3px;
                    height: 3px;
                    background-color: #222;
                    border-radius: 50%;
                    top: 10px;
                    left: 6px;
                    content: "";
                }
            }
        }
        .agree {
            padding: 20px 10px;
            background-color: whitesmoke;
            margin-bottom: 10px;
            input {
                margin-bottom: 3px;
            }
            label {
                margin-left: 10px;
            }
        }
    }
    /*학습목적*/
    .con.study_purpose {
        .content {
            padding: 30px 10px;
            background-color: whitesmoke;
            border-bottom: none;
            input[type="text"] {
                background-color: transparent;
                border-bottom: 1px solid #ccc;
                padding: 10px;
            }
        }
    }
    /*결제방법*/
    .con.pay_method {
        .content {
            .flex_box {
                display: flex;
                > div:first-of-type {
                    border-right: 1px solid #ccc;
                }
                > div {
                    width: 50%;
                    padding: 10px;
                }
                .phonenumber_input {
                    width: 250px;
                    margin: 10px 0;
                    select,
                    input {
                        width: 22%;
                        border: 1px solid #ccc;
                        padding: 2px 4px;
                        font-size: 12px;
                        border-radius: 5px;
                    }
                    select {
                        background-color: #e8e8e8;
                    }
                }
            }
        }
    }
    /*전자세금계산서*/
    .con.tax_bill {
        .title {
            span {
                font-size: 12px;
                font-weight: 400;
                margin-left: 10px;
            }
        }
        table {
            thead {
                th {
                    background-color: transparent;
                    text-align: left;
                    .subtitle {
                        margin: 0;
                        margin-left: 20px;
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: none;
                    th {
                        font-size: 14px;
                        text-align: left;
                        padding-left: 7px;
                    }
                    td {
                        input {
                            border: 1px solid #ccc;
                            width: 150px;
                        }
                        span {
                            font-size: 12px;
                            color: #999;
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
    /*회원정보*/
    .con.member_info{
        button{
            font-size: 14px;
            color: #fff;
            background-color: #999;
            padding: 3px 10px;
            border-radius: 5px;
            margin-left: 10px;
        }
    }
    /*환불사유*/
    .con.cancel_info{
        td{    padding-left: 30px;
            padding-right: 30px;
            select{
                width: 250px;
                border: 1px solid #ccc;
                color: #999;
            }
            textarea{
                width: 100%;
                border: 1px solid #ccc;
            }
        }
    }
    /*환불계좌정보*/
    .con.cancel_account_info{
        input{
            width: 100px;
            border: 1px solid #ccc;
            padding: 4px;
        }
        input.account{
            width: 160px;
        }
    }
    /*강의환불*/
    .con.refund_info{
        p {
            padding-left: 20px;
            position: relative;
        }
        p::before {
            position: absolute;
            width: 3px;
            height: 3px;
            background-color: #222;
            border-radius: 50%;
            top: 10px;
            left: 6px;
            content: "";
        }
    }
}

.payment_left::before{position: absolute; width: 1px; height: 100%; top: 0; right: 0; content: ''; background-color: #ccc;}
.payment_left::after{position: absolute; width: 1px; height: 100%; top: 0; right: 250px; content: ''; background-color: #ccc;}

.payment_right_wrap{
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
    position: sticky;
    top: -170px;
    right: 0;
}
.payment_right {
    width: 250px;
    float: right;
    padding-top: 215px;
    strong {
        padding: 20px 10px;
        display: block;
    }
    div {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    div.total,
    div.support,
    div.discount {
        border-bottom: 1px solid #fff;

        background-color: #e8e8e8;
        b {
            font-size: 17px;
        }
    }
    div.expense {
        color: #f14343;
        border-bottom: 1px solid #ccc;
        margin-top: 10px;
        b {
            font-size: 20px;
        }
    }
    div.agree {
        gap: 14px;
    }
    button {
        width: 230px;
        margin: 0 auto;
        display: block;
        padding: 10px 0;
        margin-bottom: 10px;
    }
    button.prev {
        background-color: #fff;
        border: 1px solid;
    }
    button.pay {
        background-color: #f14343;
        color: #fff;
        font-weight: bold;
    }
}

/*지식쿠폰*/

.modal-wrap{
    .txt{    padding: 10px;
        border-bottom: 1px solid #ccc;
        p{    margin-bottom: 5px;
            i{
                font-weight: 900;
                margin-right: 10px;
            }
        }
    }
    .discount_amount{    border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 13px;
        text-align: right;
        background-color: #e8f0f8;
        strong{    font-size: 20px;}
    }
    .button_wrap{    display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        button{
            width: 180px;
            padding: 10px 0;
            font-weight: bold; color: #fff;
        }
        button.apply{background-color:#357AF2 ;}
        button.cancel{background-color: #222;}
    }
}

/*결제완료&결제취소완료*/
#complete_wrap{    max-width: 555px;
    margin: 0 auto;
    padding: 100px 0;
    h2{
        font-size: 40px;
        font-weight: bold;
        display: block;
        line-height: 60px;
        padding: 30px 0;
        border-bottom: 2px solid;
        text-align: center;
    }
    table{
        tr{    border-bottom: 1px solid #ccc;
            th{
                padding: 15px 0;
                text-align: left;
                color: #9c9c9c;
            }
            td{
                padding: 15px 0;
                text-align: right;
            }
        }
        tr.nobd{
            border-bottom: none;
        }
    }
    .button_wrap{    display: flex;
        justify-content: center;
        gap: 15px;
        margin-top: 20px;
        button{
            width: 200%;
            padding: 15px 0;
            font-weight: bold; color: #fff;
        }
        button.prev{background-color:#222 ;}
        button.home{background-color: #357AF2 }
    }
}