.top_section {
  background-color: whitesmoke;
  padding: 90px 0 60px 0;
}
.top_section #wrap {
  position: relative;
}
.top_section #wrap .inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.top_section #wrap .inner h2 {
  font-size: 30px;
}
.top_section #wrap .inner .search_box {
  padding-left: 40px;
}
.top_section #wrap .inner .search_box input {
  background-color: #fff;
  width: 100%;
  border-bottom: none;
  border-radius: 25px;
  padding-left: 20px;
}
.top_section #wrap .inner .search_box span {
  right: 20px;
}
.top_section #wrap .navi {
  position: absolute;
  top: -70px;
  right: 30px;
  font-size: 14px;
  color: #767676;
}

.category {
  border-bottom: 1px solid #707070;
  font-size: 18px;
  font-weight: 500;
  color: #9c9c9c;
}
.category ul {
  display: flex;
}
.category ul li {
  cursor: pointer;
}
.category ul li a {
  padding: 20px;
  display: block;
}
.category ul li.on {
  color: #333;
  border-bottom: 3px solid #333;
}

.support_content {
  padding: 70px 0;
}
.support_content #wrap {
  position: relative;
}
.support_content #wrap .count {
  font-weight: 600;
  font-size: 20px;
}
.support_content #wrap .count span {
  color: #fa9726;
}
.support_content #wrap button {
  position: absolute;
  top: -14px;
  right: 20px;
  padding: 7px 12px;
  line-height: 23px;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 5px;
}
.support_content #wrap button i {
  margin-right: 5px;
}
.support_content #wrap > ul {
  margin: 15px 0;
  border-top: 3px solid #2d2d2d;
  font-size: 18px;
}
.support_content #wrap > ul #ContentView {
  padding: 20px 5px;
  border-bottom: 1px solid #2d2d2d;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}
.support_content #wrap > ul #ContentView .date {
  position: absolute;
  right: 50px;
}
.support_content #wrap > ul #ContentView i {
  position: absolute;
  right: 11px;
  top: 20px;
  font-size: 22px;
}
.support_content #wrap > ul #ContentElement {
  padding: 20px;
  background-color: #f1f6f9;
  border-bottom: 1px solid #2d2d2d;
  line-height: 30px;
}
.support_content #wrap > ul #ContentElement .file {
  background-color: #fff;
  padding: 15px;
  position: relative;
  margin-bottom: 24px;
}
.support_content #wrap > ul #ContentElement .file span {
  background-color: #bedcf2;
  padding: 2px 10px;
  border-radius: 50px;
  font-size: 12px;
  vertical-align: middle;
  display: flex;
  align-items: center;
  width: 109px;
  position: absolute;
  top: 13px;
  left: 20px;
  margin-right: 30px;
}
.support_content #wrap > ul #ContentElement .file span i {
  font-size: 16px;
  color: #fff;
  margin-left: 6px;
}
.support_content #wrap > ul #ContentElement .file ul {
  padding-left: 130px;
}
.support_content #wrap > ul #ContentElement .file ul li {
  font-size: 14px;
}
.support_content #wrap > ul #ContentElement .file ul li img {
  width: 15px;
  margin-right: 11px;
}
.support_content #wrap > ul #ContentView.q {
  padding-left: 70px;
  position: relative;
}
.support_content #wrap > ul #ContentView.q::after {
  position: absolute;
  left: 18px;
  top: 19px;
  content: "Q";
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #2d2d2d;
  color: #fff;
  font-family: initial;
  text-align: center;
  line-height: 24px;
}
.support_content #wrap > ul #ContentElement.a {
  padding-left: 70px;
  position: relative;
}
.support_content #wrap > ul #ContentElement.a::after {
  position: absolute;
  left: 18px;
  top: 19px;
  content: "A";
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #3a87ef;
  color: #fff;
  font-family: initial;
  text-align: center;
  line-height: 24px;
}
.support_content #wrap .pagination {
  padding: 20px 0;
}
.support_content #wrap .pagination ol {
  display: flex;
  justify-content: center;
}
.support_content #wrap .pagination ol li {
  margin: 6px;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
}
.support_content #wrap .pagination ol li.on {
  color: #fff;
  background-color: #2d2d2d;
  border-radius: 50%;
}

#modal01 {
  padding: 50px;
}
#modal01 .close-btn {
  top: 50px;
  right: 50px;
}
#modal01 h2 {
  font-size: 30px;
  font-weight: bold;
  line-height: 50px;
}
#modal01 .input_wrap {
  display: flex;
  margin-top: 30px;
}
#modal01 .input_wrap .title {
  font-size: 17px;
  padding: 10px;
  width: 136px;
}
#modal01 .input_wrap .input_box {
  display: flex;
  flex-direction: column;
  width: 650px;
}
#modal01 .input_wrap .input_box select,
#modal01 .input_wrap .input_box input,
#modal01 .input_wrap .input_box textarea {
  border: 1px solid #777;
  padding: 10px;
  border-radius: 8px;
  margin: 5px 0;
  position: relative;
}
#modal01 .input_wrap .input_box select {
  background: url("../img/common/caret-down-fill.png") no-repeat 97% 50%;
}
#modal01 .input_wrap .input_box select option {
  padding: 2px 5px;
}
#modal01 .input_wrap .input_box select option:hover {
  background-color: aliceblue;
}
#modal01 .input_wrap .input_box input#DatePicker {
  background: url(../img/common/calendar-blank.png) no-repeat 3% 50%;
  padding-left: 50px;
}
#modal01 .input_wrap .input_box .input-date {
  width: 49%;
  margin-right: 1%;
}
#modal01 .input_wrap .input_box .input-time {
  width: 49%;
}
#modal01 .input_wrap .input_box .input-hp {
  width: 49%;
  margin-right: 1%;
  background-color: #f6f6f6;
}
#modal01 .input_wrap .input_box .btn-modify {
  width: 100px;
}
#modal01 .input_wrap .input_box .input-content {
  height: 150px;
}
#modal01 .input_wrap .input_box button {
  width: 147px;
  padding: 10px 0;
  background-color: #2d2d2d;
  color: #fff;
  border-radius: 6px;
}
#modal01 .input_wrap .input_box span {
  font-size: 14px;
  color: #999;
  margin-top: 13px;
}
#modal01 .notice_box {
  display: flex;
  margin-top: 50px;
  background-color: whitesmoke;
  padding: 20px;
}
#modal01 .notice_box .title {
  font-size: 17px;
  width: 116px;
  line-height: 26px;
  padding: 10px;
}
#modal01 .notice_box ul {
  margin-bottom: 20px;
}
#modal01 .notice_box ul li {
  display: inline;
}
#modal01 .notice_box ul .bar {
  margin: 0 30px;
}
#modal01 .notice_box p {
  font-size: 14px;
}
#modal01 .submit_btn {
  text-align: center;
  margin-top: 40px;
}
#modal01 .submit_btn button {
  width: 300px;
  padding: 10px 0;
  background-color: #2d2d2d;
  color: #fff;
  font-weight: 500;
}

#modal02 {
  padding: 40px 100px;
  border-radius: 37px;
}
#modal02 .close-btn {
  top: 30px;
  right: 30px;
}
#modal02 .complete_inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#modal02 .complete_inner i {
  font-size: 80px;
  color: #2c5db4;
}
#modal02 .complete_inner strong {
  font-size: 30px;
  margin: 20px 0;
}
#modal02 .complete_inner p {
  line-height: 30px;
}
#modal02 .btn {
  text-align: center;
  margin: 35px 0;
}
#modal02 .btn a {
  text-align: center;
  background-color: #2d2d2d;
  color: #fff;
  padding: 13px;
  font-weight: 500;
  width: 100%;
  display: inline-block;
}/*# sourceMappingURL=support.css.map */