.vouch_con1 {
    padding: 80px 0 130px 0;
    background-image: url(../img/voucher/illustration.png);
    background-repeat: no-repeat;
    background-size: 640px;
    background-position: 75% -27%;
    h1 {
        font-size: 40px;
        font-weight: bold;
        line-height: 60px;
        margin-bottom: 20px;
    }
    p {
        font-size: 20px;
        line-height: 36px;
    }
}

.vouch_con2 {
    background-color: whitesmoke;
    padding: 60px 0 120px 0;
    h2 {
        font-size: 30px;
        font-weight: bold;
        float: left;
        margin-right: 40px;
        line-height: 44px;
    }
    .content1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 50px;
        background-color: #fff;
        padding: 20px 40px;
        border-radius: 25px;
        box-shadow: 5px 5px 10px rgb(0 0 0 / 16%);

        > div {
            display: flex;

            > span {
                font-weight: bold;
                min-width: 120px;
                img {
                    width: 30px;
                    margin-right: 10px;
                }
            }
            p {
                line-height: 25px;
                span {
                    font-size: 15px;
                    color: #9c9c9c;
                    margin-top: 5px;
                    display: inline-block;
                }
            }
        }
    }
    .content2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        > div {
            width: 320px;
            height: 100px;
            box-shadow: 3px 3px 8px rgb(0 0 0 / 16%);
            background-color: #fff;
            border-radius: 25px;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 13px;
            text-align: center;
            position: relative;
            span.step {
                font-size: 12px;
                color: #a8e8dd;
                line-height: 10px;
            }
            span.num {
                font-size: 18px;
                color: #a2c6f6;
            }
            strong {
                line-height: 25px;
                margin-top: 5px;
            }
            p {
                font-size: 14px;
            }
            a {
                position: absolute;
                bottom: -58px;
                width: 100%;
                border-radius: 50px;
                padding: 7px 0;
                background-color: #2eb5af;
                color: #fff;
                font-weight: 500;
                i {
                    font-size: 13px;
                    margin-left: 8px;
                }
            }
        }
        > div::after {
            position: absolute;
            right: -56px;
            top: 37px;
            width: 0;
            height: 0;
            border-bottom: 14px solid transparent;
            border-top: 14px solid transparent;
            border-left: 17px solid #fff;
            border-right: 17px solid transparent;
            content: "";
        }
        > div:nth-of-type(3)::after {
            border-left: none;
        }
    }
}

.vouch_con3 {
    padding: 70px 0 100px 0;

    h2 {
        font-size: 30px;
        line-height: 50px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
        li {
            height: 235px;
            text-align: center;
            background-color: #e8f4f2;
            padding: 20px;
            border-radius: 24px;
            strong {
                font-size: 20px;
                color: #2eb5af;
                display: block;
                height: 67px;
                margin-top: 10px;
                line-height: 27px;
            }
            p {
                line-height: 26px;
                text-align: left;
            }
        }
    }
}
